<%= app_title("Answer History")%>

<!--start: Wrapper-->
<div id="wrapper">
  <!--start: Container -->
  <div class="container">
    <!--start: Row -->
    <div class="row">
      <div class="span8">
      	<% @answer.versions.each_with_index do |version, index| %>
          <% answer = version.reify if !version.reify %>
          <div id="about">
            <div class="title">
              <h3><%= "Version: " << (index + 1).to_s %></h3>
            </div>
            <p>
              <%= answer.description if answer %>
            </p>
          </div>
        <% end %>
      </div>
      <div class="span4">
        <!-- start: Sidebar -->
        <%= render "klass/sidebar" %>
        <!-- end: Sidebar -->
      </div>
    </div>
    <!--end: Row-->
  </div>
  <!--end: Container-->
</div>
<!-- end: Wrapper  -->
