<!--start: Page Title -->
<div id="page-title">
  <div id="page-title-inner">
    <!-- start: Container -->
    <div class="container">
      <h2><i class="ico-stats ico-white"></i>Subjects</h2>
    </div>
    <!-- end: Container  -->
  </div>  
</div>
<!-- end: Page Title -->

<!--start: Wrapper-->
<div id="wrapper">
  <!--start: Container -->
  <div class="container">
    <!--start: Row -->
    <div class="row">
      <div class="span8">
        <!-- start: About Us -->
        <div id="about">
          <div class="title">
            <h3>Subjects</h3>
          </div>
          <div class="row">
            <%= @subject.name %>
            <!-- <ul class="nav nav-pills nav-stacked" style="float:left;">
              <%# @subject.each do |subject| %>
                <li>
                  <%#= link_to subject.name, subject_path(subject)%>
                </li>
              <% #end %>
            </ul> -->
          </div>
        </div>
        <!-- end: About Us -->
      </div>
      <div class="span4">
        <!-- start: Sidebar -->
        <%= render "klass/sidebar" %>
        <!-- end: Sidebar -->
      </div>
    </div>
    <!--end: Row-->
  </div>
  <!--end: Container-->
</div>
<!-- end: Wrapper 