/* List styles
=================================================================== */	

.check_list li {background: url(/assets/icons/list/green/list_check.html) no-repeat 0% 50%; padding: 0 0 0 18px;}
.plus_list  li {background: url(/assets/icons/list/green/list_plus.html) no-repeat 0% 50%; padding: 0 0 0 18px;}
.minus_list  li {background: url(/assets/icons/list/green/list_minus.html) no-repeat 0% 50%; padding: 0 0 0 18px;}
.star_list  li {background: url(/assets/icons/list/green/list_star.html) no-repeat 0% 50%; padding: 0 0 0 16px;}
.arrow_list  li {background: url(/assets/icons/list/green/list_arrow.html) no-repeat 0% 50%; padding: 0 0 0 16px;}
.square_list  li {background: url(/assets/icons/list/green/list_square.html) no-repeat 0% 50%; padding: 0 0 0 16px;}
.circle_list  li {background: url(/assets/icons/list/green/list_circle.html) no-repeat 0% 50%; padding: 0 0 0 16px;}
.cross_list  li {background: url(/assets/icons/list/green/list_cross.html) no-repeat 0% 50%; padding: 0 0 0 16px;}

.project-info strong {
	color: #89c236;
}


/* Icons Box
=================================================================== */

.ico-color {
	background-image: url("/assets/icons/green/glyphicons.png");
	opacity: 1;
}

.mini-color {
  background-image: url("/assets/icons/green/glyphicons-mini.png");
  opacity: 1;
}