<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- start: Meta -->
    <meta charset="utf-8">
    <title>GotYA FREE BOOTSTRAP THEME by BootstrapMaster</title> 
    <meta name="description" content="GotYa Free Bootstrap Theme"/>
    <meta name="keywords" content="Template, Theme, web, html5, css3, Bootstrap" />
    <meta name="author" content="Åukasz Holeczek from creativeLabs"/>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- start: Facebook Open Graph -->
    <meta property="og:title" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:type" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:image" content=""/>
    <!-- end: Facebook Open Graph -->
    <%#= stylesheet_link_tag "application", :media => "all" %>
    <link href="/assets/bootstrap.css" rel="stylesheet">
    <link href="/assets/bootstrap-responsive.css" rel="stylesheet">
    <link href="/assets/style.css" rel="stylesheet">
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <%= render 'layouts/header' %>
        <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>